{% if control_times %}
<h1>{{ control_times.distance }}km ACP Brevet</h1>
<h2>Start Date: {{ control_times.begin_date }}</h2>
<h2>Start Time: {{ control_times.begin_time }}</h2>

<hr>

{% for control in control_times.controls %}
  <h3> Checkpoint at {{ control.miles }} mi / {{ control.kms }} km ({{ control.location }})</h3>
  <h4>Open: {{ control.open }}</h4>
  <h4>Close: {{ control.close }}</h4>
{% endfor %}
{% endif %}