<h1>Sign In</h1>
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>