<h1>Register</h1>
<div>
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
    </p>
    <p><button id="submit" type="button">Register</button></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    var href = window.location.href;
    var domain = href.split(':')[0] + ':' + href.split(':')[1] + ':5002/';
    var api_url = domain.split(':')[0] + ':' + domain.split(':')[1] + ':5001/';
    var service_url = api_url + 'api/register';
    $('#submit').click(function() {
        var username = $('#username').val();
        var password = $('#password').val();
        var valid_data = {
            "username": username,
            "password": password
        };
        $.ajax({
            url: service_url,
            type: "POST",
            data: JSON.stringify(valid_data),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data, status, xhr) {
            if (xhr.status == "201") {
                alert("Created");
                window.location.href = domain;
            } else if (xhr.status == "400") {
                alert("Error Occured");
            }
        })
    })
</script>